@model IEnumerable<NKKhoan.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sản phẩm</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        @using (Html.BeginForm("Index", "Product", FormMethod.Get))
                        {
                            @*<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Truy vấn</label>
                                        <select class="form-control select2" id="Select" name="Select" style="width: 100%;">
                                            <option disabled selected> Chọn truy vấn</option>
                                            <option value="1">5. Ngày đăng ký trước ngày 15/08/2019</option>
                                            <option value="2">6. Hạn sử dụng trên 1 năm</option>
                                        </select>
                                    </div>
                                </div>
                            </div>*@

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchTuHSD">Hạn sử dụng: Từ</label>
                                        <div style="width: 100%;">
                                            <input type="number" min="1" step="1" id="searchTuHSD" class="form-control " value="@ViewBag.SearchTuHSD" name="searchTuHSD">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchDenHSD">Đến</label>
                                        <div style="width: 100%;">
                                            <input type="number" min="1" step="1" id="searchDenHSD" class="form-control " value="@ViewBag.SearchDenHSD" name="searchDenHSD">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchTuNDK">
                                            Ngày đăng ký: Từ
                                        </label>
                                        <input id="searchTuNDK" value="@ViewBag.SearchTuNDK" name="searchTuNDK" class="date-picker form-control" type="date">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchDenNDK">
                                            Đến
                                        </label>
                                        <div>
                                            <input id="searchDenNDK" value="@ViewBag.SearchDenNDK" name="searchDenNDK" class="date-picker form-control" type="date">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="padding: 0px 7.5px;">
                                <div class="input-group input-group-lg">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-lg btn-default" id="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-2">
                            <a href="~/Admin/Product/Create" class="btn btn-primary">
                                Thêm mới
                            </a>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TenSanPham)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SoDangKy)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HanSuDung)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.QuyCach)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayDangKy)
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenSanPham)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoDangKy)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HanSuDung)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QuyCach)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayDangKy)
                                    </td>
                                    <td>

                                        <a class="btn-edit" href="~/Admin/Product/Edit/@item.MaSanPham">
                                            <i class="far fa-edit icon-edit"></i>
                                        </a>

                                        <a class="js-delete" href="~/Admin/Product/Delete/@item.MaSanPham">
                                            <i class="far fa-trash-alt icon-delete"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $("#example1").on("click", ".js-delete", function (event) {
          var button = $(this);

          event.preventDefault();

          bootbox.confirm("Bạn chắc chắn muốn xoá mục này?", function (r) {
              if (r) {
                  window.location = button.attr('href');
              }
          })


      });

      if (document.location.search.length) {
          var urlParams = new URLSearchParams(document.location.search);
          $('#Select').val(urlParams.get('Select'));
      }

      $.validator.methods.date = function (value, element) {
          return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
      }

      $('#reservationdatetime1').datetimepicker({
          icons: { time: 'far fa-clock' },
          locale: 'vi',
          format: 'DD/MM/yyyy'
      });

      $("#reservationdatetime1").on("change.datetimepicker", function (e) {
          $('#reservationdatetime2').datetimepicker('minDate', e.date);
      });

      $('#button').click({
          format: 'DD/MM/YYYY'
      });
  });
</script>

