@model NKKhoan.Models.ChiTietNhanCongKhoan

@{
    ViewBag.Title = "EditEmployee";
    if (Request.UrlReferrer != null)
    {
        string returnURL = Request.UrlReferrer.ToString();
        ViewBag.ReturnURL = returnURL;
    }
    string ca;
    if (Model.NKSLK.GioBatDau == new TimeSpan(6, 0, 0) && Model.NKSLK.GioKetThuc == new TimeSpan(14, 0, 0))
    {
        ca = "ca 1 (6h-14h)";
    }
    else if (Model.NKSLK.GioBatDau == new TimeSpan(14, 0, 0) && Model.NKSLK.GioKetThuc == new TimeSpan(22, 0, 0))
    {
        ca = "ca 2 (14h-22h)";
    }
    else if (Model.NKSLK.GioBatDau == new TimeSpan(22, 0, 0) && Model.NKSLK.GioKetThuc == new TimeSpan(6, 0, 0))
    {
        ca = "ca 3 (22h-6h)";
    }
    else
    {
        ca = Model.NKSLK.GioBatDau.ToString() + "-" + Model.NKSLK.GioKetThuc.ToString();
    }
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1>Sửa thông tin công nhân @Model.CongNhan.HoTen ở khoán ngày @Model.NKSLK.NgayThucHienKhoan.ToString("dd-MM-yyyy"), @ca</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm("SaveDetail", "Task", FormMethod.Post, new { style = "display: flex; width: 100%;" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnURL" />
                                @Html.HiddenFor(model => model.MaNKSLK)
                                @Html.HiddenFor(model => model.MaNhanCong)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CongNhan.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.CongNhan.HoTen, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CongNhan.NgayNamSinh, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10 input-group date" id="reservationdatetime1" data-target-input="nearest">

                                            @Html.EditorFor(model => model.CongNhan.NgayNamSinh, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.Label("Giờ bắt đầu làm", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.GioBatDau, new { htmlAttributes = new { @class = "form-control timepicker", @type="time" } })
                                            @Html.ValidationMessageFor(model => model.GioBatDau, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Giờ kết thúc làm", htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.GioKetThuc, new { htmlAttributes = new { @class = "form-control timepicker", @type = "time" } })
                                            @Html.ValidationMessageFor(model => model.GioKetThuc, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                            <a href=@(ViewBag.ReturnURL.ToString() ?? "~/Admin/Employee/Detail?id=" + Model.MaNKSLK) class="btn btn-warning">Huỷ</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    $('.spb').select2();
    $('.scv').select2();

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

        $('#reservationdatetime1').datetimepicker({
            icons: { time: 'far fa-clock' },
            locale: 'vi',
            format: 'DD/MM/yyyy'
        });

    })
</script>
