@model IEnumerable<NKKhoan.Models.NKSLK>

@{
    ViewBag.Title = "Index";
    var product = ViewBag.sp;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thống kê lương sản phẩm</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Thông tin lương sản phẩm</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        @using (Html.BeginForm("Index", "ProductStatistic", FormMethod.Get))
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchTuNDK">
                                            Ngày: Từ
                                        </label>
                                        @*<input id="ngaybatdau" value="@ViewBag.Ngaybatdau" name="ngaybatdau" class="date-picker form-control" type="date">*@
                                        <div class="col-12 input-group date" id="reservationdatetime1" data-target-input="nearest">
                                            <input id="ngaybatdau" value="@ViewBag.Ngaybatdau" name="ngaybatdau" class="form-control datetimepicker-input text-box single-line valid" data-target="#reservationdatetime1">
                                            <div class="input-group-append" data-target="#reservationdatetime1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchDenNDK">
                                            Đến
                                        </label>
                                        <div class="col-12 input-group date" id="reservationdatetime2" data-target-input="nearest">
                                            <input id="ngayketthuc" value="@ViewBag.Ngayketthuc" name="ngayketthuc" class="form-control datetimepicker-input text-box single-line valid" data-target="#reservationdatetime1">
                                            <div class="input-group-append" data-target="#reservationdatetime2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="input-group input-group-lg">
                                            <div class="input-group-append" style="margin-top: 28px">
                                                <button type="submit" class="btn btn-lg btn-default" id="button">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Mã khoán
                                    </th>
                                    <th>
                                        Tên công việc
                                    </th>
                                    <th>
                                        Sản phẩm
                                    </th>
                                    <th>
                                        Đơn giá
                                    </th>
                                    <th>
                                        Sản lượng thực tế
                                    </th>
                                    <th>
                                        Lương sản phẩm
                                    </th>
                                    <th>
                                        Ngày thực hiện khoán thực tế
                                    </th>
                                    <th>
                                        Công nhân thực hiện khoán
                                    </th>
                                    <th>
                                        Chức năng
                                    </th>
                                </tr>
                            </thead>
                            @{
                                int[] arrsanluong = new int[1000];
                                int[] arrluongsp = new int[1000];
                                var i = 0;
                            }
                            @foreach (var itemsp in ViewBag.sp)
                            {
                                foreach (var itemcv in ViewBag.cv)
                                {
                                    if (itemsp.MaSanPham == itemcv.MaSanPham)
                                    {
                                        foreach (var itemctcv in ViewBag.ctcv)
                                        {
                                            if (itemcv.MaCongViec == itemctcv.MaCongViec)
                                            {
                                                foreach (var itemnkslk in Model)
                                                {

                                                    if (itemnkslk.MaNKSLK == itemctcv.MaNKSLK)
                                                    {
                                                        foreach (var itemctnck in ViewBag.ctnck)
                                                        {

                                                            if (itemctnck.MaNKSLK == itemnkslk.MaNKSLK)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @itemnkslk.MaNKSLK
                                                                    </td>
                                                                    <td>
                                                                        @itemcv.TenCongViec
                                                                    </td>
                                                                    <td>
                                                                        @itemsp.TenSanPham
                                                                    </td>
                                                                    <td>
                                                                        @itemcv.DonGia
                                                                    </td>
                                                                    <td>
                                                                        @{

                                                                            var sanluong = itemctcv.SanLuongThucTe;
                                                                            arrsanluong[i] = itemctcv.SanLuongThucTe;
                                                                            i++;
                                                                        }
                                                                        @sanluong
                                                                    </td>
                                                                    <td>
                                                                        @{
                                                                            var luongsp = itemcv.DonGia * itemctcv.SanLuongThucTe;
                                                                            arrluongsp[i] = luongsp;
                                                                            i++;
                                                                        }

                                                                        @luongsp
                                                                    </td>
                                                                    <td id="ngaythuchienkhoan">
                                                                        @Html.DisplayFor(modelItem => itemnkslk.NgayThucHienKhoan)
                                                                    </td>
                                                                    <td>
                                                                        @foreach (var itemcn in ViewBag.cn)
                                                                        {
                                                                            if (itemctnck.MaNhanCong == itemcn.MaNhanCong)
                                                                            {
                                                                                @itemcn.HoTen
                                                                            }
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        <a class="info" href="~/Admin/ProductStatistic/Info/@itemnkslk.MaNKSLK">
                                                                            <i class="fas fa-info-circle"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        </table>

                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col">
                                <p style="font-weight:700">Tổng lương sản phẩm: @{int[] arrlsp = arrluongsp.Distinct().ToArray(); int tongluongsp = arrlsp.Sum();} @tongluongsp</p>
                                <p style="font-weight:700">Tổng sản lượng: @{int[] arrsl = arrsanluong.Distinct().ToArray(); int tongsanluong = arrsl.Sum();} @tongsanluong</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ashl1/datatables-rowsgroup/fbd569b8768155c7a9a62568e66a64115887d7d0/dataTables.rowsGroup.js"></script>
<script type="text/javascript">
    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false, searching: true,
            'rowsGroup': [0, 1, 2, 3, 4, 5, 6, 7, 8]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        if (document.location.search.length) {
            var urlParams = new URLSearchParams(document.location.search);

            if (urlParams.get('ngaybatdau')) {

                var s1 = urlParams.get('ngaybatdau').split('/');
                var date1 = new Date(s1[2], s1[1] - 1, s1[0]);
                $('#reservationdatetime1').datetimepicker({
                    useCurrent: false,
                    icons: { time: 'far fa-clock' },
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    defaultDate: date1
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });

            }
            else {
                console.log(typeof (urlParams.get('ngaybatdau')))

                $('#reservationdatetime1').datetimepicker({
                    icons: { time: 'far fa-clock' },
                    format: 'DD/MM/yyyy',
                    locale: 'vi'
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }

            if (urlParams.get('ngayketthuc')) {
                var s2 = urlParams.get('ngayketthuc').split('/');
                var date2 = new Date(s2[2], s2[1] - 1, s2[0]);


                $('#reservationdatetime2').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    icons: { time: 'far fa-clock' },
                    defaultDate: date2
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }
            else {
                $('#reservationdatetime2').datetimepicker({
                    useCurrent: false,
                    format: 'DD/MM/yyyy',
                    locale: 'vi',
                    icons: { time: 'far fa-clock' }
                });

                $("#reservationdatetime1").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime2').datetimepicker('minDate', e.date);
                });
                $("#reservationdatetime2").on("change.datetimepicker", function (e) {
                    $('#reservationdatetime1').datetimepicker('maxDate', e.date);
                });
            }


            var btns = document.querySelectorAll('.info')
            console.log(btns)
            btns.forEach(e => e.href = e.href + document.location.search)


        }

        else {
            $('#reservationdatetime1').datetimepicker({
                icons: { time: 'far fa-clock' },
                format: 'DD/MM/yyyy',
                locale: 'vi'
            });
            $('#reservationdatetime2').datetimepicker({
                useCurrent: false,
                format: 'DD/MM/yyyy',
                locale: 'vi',
                icons: { time: 'far fa-clock' }
            });
        }

        $("#reservationdatetime1").on("change.datetimepicker", function (e) {
            $('#reservationdatetime2').datetimepicker('minDate', e.date);
        });
        $("#reservationdatetime2").on("change.datetimepicker", function (e) {
            $('#reservationdatetime1').datetimepicker('maxDate', e.date);
        });
    });
</script>