@model NKKhoan.Areas.Admin.ViewModel.EmployeeViewModel

@{
    ViewBag.Title = "Create";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Title</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            @using (Html.BeginForm("Save", "Employee", FormMethod.Post, new { style = "display: flex; width: 100%;" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.MaNhanCong)
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NgayNamSinh, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10 input-group date" id="reservationdatetime1" data-target-input="nearest">

                                            @Html.EditorFor(model => model.NgayNamSinh, new { htmlAttributes = new { @class = "form-control" } })
                                            <div class="input-group-append" data-target="#reservationdatetime1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>

                                        </div>
                                        <div class="col-5">
                                            @Html.ValidationMessageFor(model => model.NgayNamSinh, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaPhongBan, htmlAttributes: new { @class = "control-label col-md-5" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.MaPhongBan, new SelectList(Model.PhongBans, "maphongban", "tenphongban"), "", new { @class = "form-control spb" })

                                            @Html.ValidationMessageFor(model => model.MaPhongBan, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MaChucVu, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownListFor(m => m.MaChucVu, new SelectList(Model.ChucVus, "machucvu", "tenchucvu"), "", new { @class = "form-control scv" })

                                            @Html.ValidationMessageFor(model => model.MaChucVu, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col=md-6" style="width: 100%">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.QueQuan, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.QueQuan, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GioiTinh, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @*@Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })*@
                                            @Html.DropDownList("GioiTinh", new List<SelectListItem>
                                                {
                                                new SelectListItem{ Text="Nam", Value="Nam"},
                                                new SelectListItem{ Text="Nữ", Value="Nữ"}
                                                }, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LuongHopDong, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LuongHopDong, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LuongHopDong, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LuongBaoHiem, htmlAttributes: new { @class = "control-label col-md-12" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.LuongBaoHiem, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.LuongBaoHiem, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                            <a href="~/Admin/Employee" class="btn btn-warning">Huỷ</a>
                                        </div>
                                    </div>
                                </div>

                            }
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    $('.spb').select2();
    $('.scv').select2();

    $(function () {
        $.validator.methods.date = function (value, element) {
            return this.optional(element) || moment(value, "DD/MM/YYYY", true).isValid();
        }

        $('#reservationdatetime1').datetimepicker({
            icons: { time: 'far fa-clock' },
            locale: 'vi',
            format: 'DD/MM/yyyy'
        });

    })
</script>

