@using NKKhoan.Areas.Admin.ViewModel
@model IEnumerable<NKKhoan.Models.CongNhan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Công nhân</h1>
            </div>

        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">

        @*search*@
        <div class="card card-default collapsed-card" id="card-id">

            <div class="card-header">
                <h3 class="card-title">Tìm kiếm</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-plus" id="button-collapse"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("Index", "Employee", FormMethod.Get))
                {
                    <div class="row">

                        <div class="col-2">
                            <div class="form-group">
                                <label>Chọn phòng ban</label>
                                @Html.DropDownList("spb", new SelectList(ViewBag.phongban, "maphongban", "tenphongban"), "", new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <label>Chọn chức vụ</label>
                                @Html.DropDownList("scv", new SelectList(ViewBag.chucvu, "machucvu", "tenchucvu"), "", new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-2">
                            <div class="form-group">
                                <label>Giới tính</label>
                                @Html.DropDownList("sgt", new List<SelectListItem>
                                                {
                                                new SelectListItem{ Text="", Value=""},
                                                new SelectListItem{ Text="Nam", Value="Nam"},
                                                new SelectListItem{ Text="Nữ", Value="Nữ"}
                                                }, new { @class = "form-control" })

                            </div>
                        </div>


                        <div class="col-1">
                            <div class="form-group">
                                <label>Độ tuổi</label>
                                <input type="number" name="minage" id="minage" value="" class="form-control" />
                                <span style=" width: 7px; height: 2px; font-size: 0px; display: inline-block; background: rgb(154, 154, 154); margin: 0px 4px; vertical-align: middle; position: absolute; right: -8px; top: 60%;">
                                    -
                                </span>

                            </div>
                        </div>

                        <div class="col-1">
                            <div class="form-group">
                                <label style="visibility:hidden">giá</label>
                                <input type="number" name="maxage" id="maxage" value="" class="form-control" />
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="form-group">
                                <label>Công nhân làm vượt giờ của tuần</label>
                                <div class="input-group date" id="reservationdatetime1" data-target-input="nearest">
                                    <input name="tuan" class="form-control datetimepicker-input text-box single-line valid" data-target="#reservationdatetime1">
                                    <div class="input-group-append" data-target="#reservationdatetime1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                    <div class="row" style="padding: 0px 7.5px;">
                        <div class="input-group input-group-lg">
                            <input type="search" class="form-control form-control-lg" placeholder="Nhập tên nhân viên" name="sb" id="sb">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        @*table*@
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-2">
                            <a href="~/Admin/Employee/Create" class="btn btn-primary">
                                Thêm mới
                            </a>
                        </div>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.HoTen)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.NgayNamSinh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.PhongBan.TenPhongBan)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ChucVu.TenChucVu)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.QueQuan)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.GioiTinh)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LuongHopDong)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LuongBaoHiem)
                                    </th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>

                            @{
                                List < WorkTimeViewModel> l = new List<WorkTimeViewModel>();
                                if (ViewBag.List != null) { 
                                    l = ViewBag.List as List<NKKhoan.Areas.Admin.ViewModel.WorkTimeViewModel>;
                                }
                            } 

                            @foreach (var item in Model)
                            {
                                var title = "";
                                var styleWarning = "display:none;";

                                if (l.Count() > 0)
                                {
                                    var cn = l.First(c => c.MaCN == item.MaNhanCong);
                                    var vuotgio = cn.GioLam - ViewBag.Giochuan;
                                    title = "Từ ngày " + ViewBag.Ndt + " đến " + ViewBag.Ncc + " nhân viên này đã làm " + cn.GioLam +" giờ công, vượt quá giờ công chuẩn " + vuotgio + " giờ. (Giờ công chuẩn: " + @ViewBag.Giochuan + " )";
                                    styleWarning = "";
                                }
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HoTen)
                                        <i class="fas fa-exclamation-circle warning-user" data-toggle="tooltip" data-placement="right" title="@title" style=@styleWarning></i>

                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NgayNamSinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PhongBan.TenPhongBan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu.TenChucVu)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.QueQuan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GioiTinh)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuongHopDong)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LuongBaoHiem)
                                    </td>
                                    <td>

                                        <a class="btn-edit" href="~/Admin/Employee/Edit/@item.MaNhanCong">
                                            <i class="far fa-edit icon-edit"></i>
                                        </a>

                                        <a class="js-delete" href="~/Admin/Employee/Delete/@item.MaNhanCong">
                                            <i class="far fa-trash-alt icon-delete" style="margin-right: 10px"></i>
                                        </a>

                                        <a class="info" href="~/Admin/Employee/Info/@item.MaNhanCong">
                                            <i class="fas fa-info-circle"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script>
    $(function () {
        $('#spb').select2();
        $('#scv').select2();

        if (document.location.search.length) {
            $('#card-id').removeClass('collapsed-card');
            $('#button-collapse').removeClass('fa-plus');
            $('#button-collapse').addClass('fa-minus');

            var urlParams = new URLSearchParams(document.location.search);

            $('#sb').val(urlParams.get('sb'));
            $('#spb').val(urlParams.get('spb'));
            $('#scv').val(urlParams.get('scv'));
            $('#sgt').val(urlParams.get('sgt'));
            $('#minage').val(urlParams.get('minage'));
            $('#maxage').val(urlParams.get('maxage'));

            if (urlParams.get('tuan') !== '') {
                var s = urlParams.get('tuan').split('/');

                var date = new Date(s[2], s[1] - 1, s[0]);

                $('#reservationdatetime1').datetimepicker({
                    icons: { time: 'far fa-clock' },
                    format: 'DD/MM/yyyy',
                    defaultDate: date,
                    locale: 'vi'
                });
            }            
        }

        else {
            $('#reservationdatetime1').datetimepicker({
                icons: { time: 'far fa-clock' },
                locale: 'vi',
                format: 'DD/MM/yyyy'
            });
        }



        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false, searching: false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        $("#example1").on("click", ".js-delete", function (event) {
            var button = $(this);

            event.preventDefault();

            bootbox.confirm("Bạn chắc chắn muốn xoá mục này?", function (r) {
                if (r) {
                    window.location = button.attr('href');
                }
            })


        });
    });
</script>